* {
  box-sizing: border-box;
  /* overflow-x: hidden; */
  margin: 0px;
  padding: 0px;
}

:root {
  font-family: sans-serif;
}


.bounce-enter-active {
  animation: bounce-in 0.2s;
}
.bounce-leave-active {
  animation: bounce-in 0.2s reverse;
}


@keyframes bounce-in {
  0% {
    backdrop-filter: blur(0px);
    top: 0px;
    opacity: 0;
    top: 80px;
  }
  100% {
    backdrop-filter: blur(20px);
    top: 80px;
    opacity: 1;
    top: 0px;
  }
}




.allCategoryShow-enter-active {
  animation: allCategoryShow-in 0.2s;
}
.allCategoryShow-leave-active {
  animation: allCategoryShow-in 0.2s reverse;
}


@keyframes allCategoryShow-in {
  0% {
    top: 20px;
    opacity: 0;
    top: 40px;
  }
  100% {
    top: 40px;
    opacity: 1;
    top: 20px;
  }
}